<template>

</template>

<script>
    export default {
        name: "CreateControllerComponent",
        props: ['settings'],
        data() {
            return {
                methods: [[]]
            }
        },
        mounted() {
            this.$store.commit('SET_SETTINGS', 'this.settings')
        }
    }
</script>

<style scoped>

</style>
