<template>
    <b-list-group-item>
        <div class="row">
            <div class="col-4">
                <b-form-group
                    title="Action"
                >
                    <b-form-select v-model="method.action">
                        <b-form-select-option
                            v-for="method in $store.state.settings.methodActions"
                            v-text="method"
                            :value="method"
                        />
                    </b-form-select>
                </b-form-group>
            </div>
            <div class="col-5">
                <b-form-group
                    title="Name"
                    state="nameFeedback.status"
                    invalid-feedback="nameFeedback.message"
                >
                    <b-form-input
                        v-model="method.name"
                        state="nameFeedback.status"
                    />
                </b-form-group>
            </div>
            <div class="col-3">
                <b-form-group
                    title="Parameter"
                >
                    <b-form-select v-model="method.scaffold_model_id">
                        <b-form-select-option
                            v-for="model in models"
                            value="model.id"
                            v-text="`{ ${model.name} }`"
                        >

                        </b-form-select-option>
                    </b-form-select>
                </b-form-group>
            </div>
        </div>
        <div class="row">

        </div>
    </b-list-group-item>
</template>

<script>
    export default {
        name: "MethodComponent",
        props: ['setMethod'],
        data() {
            return {
                method: [],
                parameter: null,
            }
        },
        watch: {
            parameter() {
                method.scaffold_model_id = this.parameter.id
            }
        },
        mounted() {
            if(this.method) {
                this.settings
            }
        }
    }
</script>

<style scoped>

</style>
