<template>
    <b-modal
        title="Add Resource"
        id="addCrudResourceModal"
    >
        <b-form-group
            label="Resource Name"
            :invalid-feedback="nameFeedback.message"
            description="Resource name should be singular and CamelCased"
        >
            <b-form-input
                v-model="name"
                :state="nameFeedback.status"
            />
        </b-form-group>

        <b-form-group
            label="Resource Route"
            :invalid-feedback="routeFeedback.message"
        >
            <b-form-input
                v-model="route"
                :state="routeFeedback.status"
            />
        </b-form-group>

        <template slot="modal-footer">
            <b-button
                @click="reset()"
            >
                Cancel
            </b-button>
            <b-button
                @click="storeResource()"
                variant="success"
            >
                Create CRUD Resource
            </b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "AddCRUDResourceComponent",
        data() {
            return {
                route: '',
                name: ''
            }
        },
        watch: {
            selectedModel() {
                this.route = this.urlSafe(this.selectedModel.name);
                this.name = this.selectedModel.name;
            }
        },
        computed: {
            routeFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                };
                if(this.route.length === 0) {
                    feedback.status = false;
                    feedback.message = 'A route is required'
                } else if (this.route !=  encodeURI(this.route)) {
                    feedback.status = false;
                    feedback.message = 'Route must be URL safe.'
                }
                return feedback;
            },
            nameFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                };
                if(this.route.length === 0) {
                    feedback.status = false;
                    feedback.message = 'A name is required'
                } else if (/\s/g.test(this.name)) {
                    feedback.status = false;
                    feedback.message = 'Resource Names should not have spaces.'
                }
                return feedback;
            },
            ...mapState('UMLBuilder', ['selectedModel'])
        },
        methods: {
            storeResource() {
                axios.patch(route('models.update',
                    {project: this.$store.state.UMLBuilder.current_project_id, model: this.$store.state.UMLBuilder.selectedModel.id}),
                    {attributes: {resource:{ name: this.name, route: this.route}}}
                ).then((response) => {
                    this.$store.commit('UMLBuilder/UPDATE_MODEL', response.data.data);
                    this.reset();
                    this.$root.success(response.message);
                }).catch((error) => {
                    this.reset();
                    this.$root.error(error.message);
                })
            },
            urlSafe(string) {
                if(string == null) {
                    return null;
                } else {
                    return string.replace(/[\w]([A-Z])/g, function(m) {
                        return m[0] + "-" + m[1];
                    }).toLowerCase();;
                }
            },
            reset() {
                this.$bvModal.hide('addCrudResourceModal');
            }
        }
    }
</script>

<style scoped>

</style>
