<template>
    <div>
        <b-modal id="addFieldModal" title="Add New Field">
            <b-form-group
                description="The field label should be human readable."
                label="Field Label"
                :state="labelFeedback.status"
                :invalid-feedback="labelFeedback.message"
            >
                <b-form-input v-model="fieldLabel" :state="labelFeedback.status" @blur="setFieldName" trim></b-form-input>
            </b-form-group>
            <b-form-group
                description="The field name must be database safe."
                label="Field Name"
                :state="nameFeedback.status"
                :invalid-feedback="nameFeedback.invalidMessage"
            >
                <b-form-input v-model="fieldName" :state="nameFeedback.status" trim></b-form-input>
            </b-form-group>
            <b-form-group>
                <b-form-select v-model="fieldType">
                        <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                    <template v-for="type in fieldTypes">
                        <b-form-select-option :value="type" >{{type.name}}</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>
            <b-form-checkbox
                v-model="nullable"
                value=true
                unchecked-value=false
            >
                Field is required.
            </b-form-checkbox>
            <b-form-checkbox
                v-model="massAssignable"
                value=true
                unchecked-value=false
            >
                Field is mass assignable
            </b-form-checkbox>

            <template slot="modal-footer">
                <b-button @click="dismiss()" variant="default">Cancel</b-button>
                <b-button @click="createField()" variant="success" :disabled="formNotReady">Add Field & New</b-button>
                <b-button @click="createField(true)" variant="success" :disabled="formNotReady">Add Field & Close</b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    export default {
        name: "AddFieldComponent",
        data() {
            return {
                fieldLabel: '',
                fieldName: '',
                fieldType: null,
                nullable: false,
                massAssignable: true,
            }
        },
        computed: {
            formNotReady() {
                if(this.fieldLabel == null || this.fieldName == null || this.fieldType == null) {
                    return true;
                }

                return false;
            },
            newField() {

                let attributes = [];
                if(this.massAssignable) attributes.push('Mass Assignable');
                if(this.nullable) attributes.push('Nullable');

                return {
                    label: this.fieldLabel,
                    name: this.fieldName,
                    attributes: attributes,
                    type: this.fieldType.slug,
                    scaffold_model_id: this.$store.state.UMLBuilder.selectedModel.id
                }
            },
            nameState() {
                let state = true;
                if(this.fieldName === this.fieldName.replace(/\W+/g, '_').toLowerCase()) { state = false; }
                if(this.fieldName == null) {state = false; }
                return false;
            },
            nameFeedback() {
                let feedback = {
                    status: true,
                    invalidMessage: ''
                };
                if(this.fieldName.length == 0) {
                    feedback.status = false;
                }

                return feedback;
            },
            labelFeedback() {
                let feedback = {
                    status: true,
                    invalidMessage: ''
                };
                if(this.fieldLabel == null) {
                    feedback.status = false;
                    feedback.invalidMessage = 'A Field Label is Required'
                }
                return false;
            },
            fieldTypes(){
                return this.$store.state.settings.field_types
            }
        },
        methods: {
            setFieldName(){
                if(this.fieldName.length == 0){
                    this.fieldName = this.fieldLabel.replace(/\W+/g, '_').toLowerCase()
                }
            },
            createField(dismiss = true) {
                axios.post(route('fields.store', this.$store.state.UMLBuilder.current_project_id), this.newField )
                .then((response) => {
                    if(dismiss)
                    {
                        this.$bvModal.hide('addFieldModal')
                    }
                    this.$store.commit('UMLBuilder/ADD_NEW_FIELD', response.data)
                    this.$root.success('Your field has been added.');
                    this.reset();
                    console.log('success');
                }).catch((error) => {
                    this.$root.error(error.message);
                    console.log(error.message);
                })
            },
            reset() {
                this.fieldLabel = '';
                this.fieldName = '';
                this.fieldType = null;
                this.nullable = false;
            }
        }
    }
</script>

<style scoped>

</style>
