<template>
    <b-modal id="addRelationshipModal" title="Add New Relationship">
        <b-form-group
            label="Relationship Type"
        >
            <b-select v-model="relationshipType">
                <b-select-option
                    v-for="type in settings.relationshipTypes"
                    v-bind:key="type.id"
                    v-text="type.name"
                    :value="type"
                />
            </b-select>
        </b-form-group>
        <b-form-group
            label="Child Model"
        >
            <b-select v-model="childModel">
                <b-select-option
                    v-for="model in models"
                    v-bind:key="model.id"
                    v-text="model.name"
                    :value="model"
                    v-if="model.id != $store.state.UMLBuilder.selectedModel.id"
                />
            </b-select>
        </b-form-group>
        <template v-if="relationshipNamesReady">
            <b-form-group
                label="Relationship on Parent Model"
                :state="parentNameFeedback.status"
                :invalid-feedback="parentNameFeedback.message"
            >
                <b-form-input v-model="parentRelationshipName" :state="parentNameFeedback.status"/>
            </b-form-group>
            <b-form-group
                label="Foreign Key on Parent Model"
                :state="parentForeignKeyFeedback.status"
                :invalid-feedback="parentForeignKeyFeedback.message"
            >
                <b-form-input v-model="parentForeignKey" :state="parentForeignKeyFeedback.status"/>
            </b-form-group>
            <b-form-group
                label="Relationship on Child Model"
                :state="childNameFeedback.status"
                :invalid-feedback="childNameFeedback.message"
            >
                <b-form-input v-model="childRelationshipName" :state="childNameFeedback.status"/>
            </b-form-group>
            <b-form-group
                label="Foreign Key on Child Model"
                :state="childForeignKeyFeedback.status"
                :invalid-feedback="childForeignKeyFeedback.message"
            >
                <b-form-input v-model="childForeignKey" :state="childForeignKeyFeedback.status"/>
            </b-form-group>
        </template>
        <template slot="modal-footer">
            <b-button @click="dismiss()" variant="default">Cancel</b-button>
            <b-button @click="storeRelationship()" variant="success">Add Relationship</b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapState} from "vuex";
    import Pluralize from 'pluralize';

    export default {
        name: "AddRelationshipComponent",
        data() {
            return {
                relationshipType: {},
                childModel: {},
                parentRelationshipName: '',
                parentForeignKey: '',
                childRelationshipName: '',
                childForeignKey: ''
            }
        },
        watch: {
            relationshipNamesReady() {
                this.setRelationshipName()
            },
        },
        methods: {
            makeRelationshipName(name, plural = false) {
                name = name.charAt(0).toLowerCase() + name.slice(1);
                if(plural) {
                    name = Pluralize(name, 2);
                }
                return name;
            },
            makeForeignKeyName(model) {
                return model.replace(/[\w]([A-Z])/g, function(m) {
                    return m[0] + "_" + m[1];
                }).toLowerCase() + '_id';
            },
            setRelationshipName() {
                if (this.relationshipType.type === 'oneToOne') {
                    this.childRelationshipName = this.makeRelationshipName(this.model.name);
                    this.parentRelationshipName = this.makeRelationshipName(this.childModel.name);
                    this.childForeignKey = this.makeForeignKeyName(this.model.name);
                    this.parentForeignKey = this.makeForeignKeyName(this.childModel.name);
                } else if (this.relationshipType.type === 'oneToMany') {
                    this.childRelationshipName = this.makeRelationshipName(this.model.name);
                    this.parentRelationshipName = this.makeRelationshipName(this.childModel.name, true);
                    this.childForeignKey = this.makeForeignKeyName(this.model.name);
                    this.parentForeignKey = 'id';
                } else if (this.relationshipType.type === 'manyToMany') {
                    this.childRelationshipName = this.makeRelationshipName(this.model.name,true);
                    this.parentRelationshipName = this.makeRelationshipName(this.childModel.name, true);
                    this.childForeignKey = 'id';
                    this.parentForeignKey = 'id';
                }
            },
            storeRelationship(){
                axios.post(route('relationships.store', this.model.project_id), this.relationship)
                .then((response) => {
                    this.$emit('created', response.data.data)
                    this.$bvToast.toast(response.data.message, {
                        title: 'Success!',
                        variant: 'success',
                        autoHideDelay: 4000,
                    })
                    this.$bvModal.hide('addRelationshipModal');
                    this.resetData();
                }).catch((error) => {
                    this.$bvToast.toast(error.message, {
                        title: 'Oh oh!',
                        variant: 'warning',
                        autoHideDelay: 4000
                    })
                })
            },
            dismiss() {
                this.$bvModal.hide('addRelationshipModal');
                this.resetData();
            },
            resetData() {
                this.relationshipType = {};
                this.childModel = {};
                this.parentRelationshipName = '';
                this.childRelationshipName = '';
            }
        },
        computed: {
            settings() {
                return this.$store.state.settings
            },
            model(){
                return this.$store.state.UMLBuilder.selectedModel;
            },
            relationshipNamesReady() {
                return this.relationshipType.type !== undefined && this.childModel.id !== undefined;
            },
            parentNameFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                }
                if(this.parentRelationshipName == null) {
                    feedback.status = false;
                    feedback.message = 'A name is required.'
                } else if (/\s/g.test(this.parentRelationshipName)) {
                    feedback.status = false;
                    feedback.message = 'Relationship name can not have spaces.'
                }
                return feedback;
            },
            parentForeignKeyFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                }
                if(this.parentForeignKey == null) {
                    feedback.status = false;
                    feedback.message = 'A foreign key name is required'
                }
                return feedback;
            },
            childNameFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                }
                if(this.childRelationshipName == null) {
                    feedback.status = false;
                    feedback.message = 'A name is required.'
                } else if (/\s/g.test(this.childRelationshipName)) {
                    feedback.status = false;
                    feedback.message = 'Relationship name can not have spaces.'
                }
                return feedback;
            },
            childForeignKeyFeedback() {
                let feedback = {
                    status: true,
                    message: ''
                }
                if(this.childForeignKey == null) {
                    feedback.status = false;
                    feedback.message = 'A foreign key name is required'
                }
                return feedback;
            },
            relationship() {
                return {
                    relationship_type: this.relationshipType.type,
                    parent_model_id: this.$store.state.UMLBuilder.selectedModel.id,
                    parent_relationship: this.parentRelationshipName,
                    child_model_id: this.childModel.id,
                    child_relationship: this.childRelationshipName,
                    child_foreign_key: this.childForeignKey,
                    parent_foreign_key: this.parentForeignKey
                }
            },
            ...mapState('UMLBuilder', ['models'])
        }
    }
</script>

<style scoped>

</style>
