<template>
    <div>
        <div class="list-group-item" v-for="field in fields">

            {{field.name}}

            <small>
                ({{field.type}})
            </small>

            <span class="badge badge-secondary"
                  v-for="tag in field.tags"
                  v-text="tag"
            />
        </div>
    </div>
</template>

<script>
    export default {
        props: ['fields'],
        name: "FieldsComponent"
    }
</script>

<style scoped>

</style>
