<template>
    <div class="p-2 model" style="width: 300pt;">
        <div class="card" >
            <div class="card-header">
                {{model.name}}
                <template v-if="hasResource">
                    <br>
                    <b-badge>
                        {{model.attributes.resource.name}} Resource | uri: /{{model.attributes.resource.route}}
                    </b-badge>
                </template>
                <BIconThreeDotsVertical
                    :id="`model-actions-${model.id}`"
                    class="float-right"
                />
                <b-popover
                    :target="`model-actions-${model.id}`"
                    placement="bottomleft"
                    triggers="click blur"
                >
                    <b-button-group vertical>
                        <b-button v-b-modal.addFieldModal @click="$store.commit('UMLBuilder/SET_SELECTED_MODEL', model)">Add Field</b-button>
                        <b-button v-b-modal.addRelationshipModal @click="$store.commit('UMLBuilder/SET_SELECTED_MODEL', model)">Add Relationship</b-button>
                        <b-button v-b-modal.addCrudResourceModal @click="$store.commit('UMLBuilder/SET_SELECTED_MODEL', model)" v-if="!hasResource">Add CRUD Resource</b-button>
                        <b-button @click="deleteModel()">Delete Model</b-button>
                    </b-button-group>
                </b-popover>
            </div>
            <div class="card-body" style="max-height: 200px; overflow: auto">
                <div class="list-group">
                    <div class="list-group-item" v-if="fields.length == 0">
                        <div class="alert alert-info">
                            This model has no fields
                        </div>
                    </div>
                    <FieldsComponent
                        :fields="fields"
                    />
                </div>
            </div>
            <hr>
            <div class="card-body" style="max-height: 200px; overflow: auto">
                <div class="list-group">
                    <div class="list-group-item" v-if="noFunctions">
                        <div class="alert alert-info">
                            This model has no functions
                        </div>
                    </div>
                    <div class="list-group-item" v-for="parent_relationship in model.parents">
                        + {{parent_relationship.child_relationship}}()
                        <div class="badge badge-info">
                            {{ $store.state.settings.relationshipTypes[parent_relationship.relationship_type].name}} child
                        </div>
                    </div>
                    <div class="list-group-item" v-for="child_relationship in model.children">
                        + {{child_relationship.parent_relationship}}()
                        <div class="badge badge-info">
                            {{ $store.state.settings.relationshipTypes[child_relationship.relationship_type].name}} parent
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddFieldComponent from "./AddFieldComponent";
    import FieldsComponent from "./FieldsComponent";
    import {BIconThreeDotsVertical} from 'bootstrap-vue';
    import RelationshipComponent from "./AddRelationshipComponent";
    export default {
        components: {RelationshipComponent, FieldsComponent, AddFieldComponent, BIconThreeDotsVertical},
        props: ['model'],
        name: "ModelComponent",
        data() {
            return {
                fields: this.model.fields
            }
        },
        methods: {
            addField(field){
                this.fields.push(field);
            },
            deleteModel() {
                axios.delete(route('models.destroy', this.model.id))
                .then((response) => {
                    this.$root.info('Model removed.');
                    this.$store.dispatch('UMLBuilder/removeModelId', this.model.id);
                })

            }
        },
        computed: {
            settings() {
                return this.$store.state.settings;
            },
            noFunctions() {
                let noFunctions = true;
                if(this.model.children != undefined && this.model.children.length > 0) {
                    noFunctions = false;
                }
                if(this.model.parents != undefined && this.model.parents.length > 0) {
                    noFunctions = false;
                }

                return noFunctions;
            },
            hasResource() {
                if(this.model.attributes === null)
                {
                    return false;
                }

                if (this.model.attributes.hasOwnProperty('resource'))
                {
                  return true;
                }

                return false;
            }
        }
    }
</script>

<style scoped>
    .model {
        display: inline-block;
    }
</style>
