<template>
    <div>

        <div class="alert alert-info col-6" v-if="_.isEmpty(models)">
            <strong>
                No Models Created.
            </strong>

            <p>
                No models have yet been created in this project.
                Add a new model and it will be listed here.
            </p>
        </div>

        <ModelComponent
            v-for="model in models"
            :model="model"
            v-bind:key="model.id"
        />

        <add-field-component
            @created="addNewField"
        />
        <add-relationship-component
            @created="addNewRelationship"
        />
        <add-c-r-u-d-resource-component/>

    </div>
</template>

<script>
    import ModelComponent from "./ModelComponent.vue";
    import {mapState} from "vuex";
    import AddRelationshipComponent from "./AddRelationshipComponent";
    import AddField from "./AddFieldComponent";
    import AddFieldComponent from "./AddFieldComponent";
    import ControlPanelComponent from "./ControlPanel/ControlPanelComponent";
    import AddCRUDResourceComponent from "./AddCRUDResourceComponent";
    export default {
        components: {
            AddCRUDResourceComponent,
            ControlPanelComponent, AddFieldComponent, AddField, AddRelationshipComponent, ModelComponent},
        props: ['initialModels', 'settings', 'project_id'],
        name: "UMLBuilder",
        beforeMount() {
            this.$store.commit('SET_SETTINGS', this.settings)
            this.$store.commit('UMLBuilder/SET_MODELS', this.initialModels)
            this.$store.state.UMLBuilder.current_project_id = this.project_id;
        },
        computed: {
            ...mapState('UMLBuilder', ['models'])
        },
        methods: {
            addNewField(field) {
                this.$store.commit('UMLBuilder/ADD_NEW_FIELD', field);
            },
            addNewRelationship(field) {
                this.$store.commit('UMLBuilder/ADD_RELATIONSHIP', field);
            }
        }
    }
</script>

<style scoped>

</style>
