<template>
    <span>
        <b-button
            variant="primary"
            class="btn-block"
            @click="generateProjectCode()"
        >
            <b-spinner label="Spinning" v-if="loading" small></b-spinner>

            Generate Project Code
        </b-button>
    </span>
</template>

<script>
    export default {
        props: ['project_id'],
        name: "GenerateProjectButton",
        data() {
            return {
                loading: false
            }
        },
        methods: {
            generateProjectCode() {
                this.loading = true;
                axios.get(route('projects.generate', this.project_id))
                .then((response) => {
                    this.$bvToast.toast(response.data.message, {
                        title: 'Success!',
                        variant: 'success',
                        autoHideDelay: 4000
                    })
                    this.$store.commit('Project/SET_FILE_LIST', response.data.data)
                    this.loading = false;

                }).catch((error) => {
                    this.$bvToast.toast(error.message, {
                        title: 'Uh oh!',
                        variant: 'Warning',
                        autoHideDelay: 4000
                    })
                })
            }
        }
    }
</script>

<style scoped>

</style>
