<template>
    <div>
        <b-button v-b-modal.addModelModal>Add Model</b-button>

        <b-modal id="addModelModal" title="Add New Model">
            <b-form-group
                id="fieldset-1"
                description="Your model name should be singular without spaces."
                label="Model Name"
                :invalid-feedback="nameInvalidFeedback"
                :state="nameState"
            >
                <b-form-input v-model="name" :state="nameState" trim></b-form-input>
            </b-form-group>
            <b-form-checkbox
                v-model="softDeletable"
                value=true
                unchecked-value=false
            >
                Model is soft deletable.
            </b-form-checkbox>
            <b-form-checkbox
                v-model="timestamps"
                value=true
                unchecked-value=false
            >
                Model has timestamps
            </b-form-checkbox>

            <template slot="modal-footer">
                <b-button @click="dismiss()" variant="default">Cancel</b-button>
                <b-button @click="storeModel()" variant="success">Create Model</b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "AddModelComponent",
        data() {
            return {
                name: '',
                softDeletable: false,
                timestamps: true
            }
        },
        computed: {
            nameState() {
                let state = true;
                if (this.name.length <= 2) {
                    state = false;
                }
                if (this.name == 'Model') {
                    state = false;
                }
                if (/\s/g.test(this.name)) {
                    state = false;
                }
                if (this.nameExists(this.name)) {
                    state = false;
                }
                return state;
            },
            nameInvalidFeedback() {
                if (this.name.length === 0) {
                    return '';
                } else if (this.name == 'Model') {
                    return '"Model" is a reserved keyword and can not be used.'
                } else if (!/\s/g.test(this.name)) {
                    return 'I said no spaces.'
                } else if (this.name.length > 1) {
                    return '';
                } else if (this.nameExists(this.name)) {
                    return 'Model name is already in use.'
                } else {
                    return 'Please enter something'
                }
            },
            nameValidFeedback() {
                return this.nameState === true ? 'Thank you' : ''
            },
            model() {
                return {
                    name: this.name,
                    softDeletable: this.softDeletable,
                    timestamps: this.timestamps,
                }
            },
            ...mapState('UMLBuilder', ['models'])
        },
        methods: {
            storeModel() {
                axios.post(route('models.store', {project: this.$store.state.UMLBuilder.current_project_id}), this.model)
                    .then((response) => {
                        this.$store.commit('UMLBuilder/ADD_MODEL', response.data.data);
                        this.$bvModal.hide('addModelModal')
                        this.$root.success('Model successfully added.');
                        this.resetData();
                    }).catch((error) => {
                    this.$bvModal.hide('addModelModal');
                    this.$root.error(error.message);
                })
            },
            nameExists(name) {
                let result = false;
                this.models.forEach((model) => {
                    if (model.name === name) {
                        result = true;
                    }
                });
                return result;
            },
            dismiss() {
                this.$bvModal.hide('addModelModal');
                this.resetData();
            },
            resetData() {
                this.name = '';
                this.softDeletable = false;
                this.timestamps = true;
            }

        }
    }
</script>

<style scoped>

</style>
