<template>
    <div class="controls">
        <b-button :href="projectLink">Project Page</b-button>
        <br> <br>
        <AddModelComponent/>

    </div>

</template>

<script>
    import AddModelComponent from "./AddModelComponent";
    export default {
        name: "ControlPanelComponent",
        components: {AddModelComponent},
        data() {
            return {
                projectLink: null
            }
        },
        mounted() {
            this.projectLink = route('projects.show', this.$store.state.UMLBuilder.current_project_id);
        }
    }
</script>

<style scoped>
    .controls {
        position: relative;
        left: 20px;
        top: 20px;
        z-index: 100;
    }
</style>
